html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav{
    padding: 5px;

    @media (min-width:600px){
        padding: 10px;
    }
}

nav.flexbox {
    display:flex;
    justify-content: space-between;
}

a:-webkit-any-link{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    float: left;
    padding: 8px;
}
/*
.right {
    float: right;
    padding-right: 7;
}

.left {
    padding-left: 7;
    float: left;
}
*/


#search {
    display: flex;
    border: 1px solid #dfe1ef;
    box-shadow: none;
    border-radius: 24px;
    height: 35px;
    margin: 0 auto;
    width: 45%;
}

.button {
    text-decoration: none !important;
    background-color: #f2f2f2;
    box-shadow: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input {
    border: 0px;
    text-align: center;
}

#mainbody {
    display: block;
    margin-top: 89px;
    height: 233px;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    padding: 7px;
    background-color: #efefef;
}