body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

a:-webkit-any-link{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.buttons button {
    color: #5F6368;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-bar {
    border-radius: 24px;
    background: #fff;
    height: 44px;
    border: 1px solid #dfe1e5;
    width: 582px;
}

input {
    border: 0px;
}

.navigation {
    min-height: 65px;
    padding: 0;
    margin: 0;
    background: none transparent;
    border: none;
}

.left-nav {
    float: left;
    margin: 0;
    margin-top: 12px;
}
.right-nav-button {
    float:right;
}

.right-nav-button button {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    display: inline-block;
    padding: 0 12px;
    border-radius: 2px;
}


.right-nav {
    float: right;
    margin: 0;
    margin-top: 12px;
}

.left-nav a {
    padding-left: 15px;
}

.right-nav a {
    padding-right: 15px;
    margin-top: 15px;
}



